XSD/xsd/wdm/unknown/v20210224/Wdm.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:bro="http://www.broservices.nl/xsd/brocommon/3.0"
   xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:gmlsf="http://www.opengis.net/gmlsf/2.0"
   xmlns:imvert="http://www.imvertor.org/schema/system"
   xmlns:wdm="http://www.broservices.nl/xsd/wdm/1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema"
   targetNamespace="http://www.broservices.nl/xsd/wdm/1.0" elementFormDefault="qualified"
   attributeFormDefault="unqualified" version="1.0.0-1">
   <xs:annotation>
      <xs:appinfo source="http://www.imvertor.org/model-info/project">Logical model</xs:appinfo>
      <xs:appinfo source="http://www.imvertor.org/model-info/application">wdm</xs:appinfo>
      <xs:appinfo source="http://www.imvertor.org/model-info/release">20210224</xs:appinfo>
      <xs:appinfo source="http://www.imvertor.org/model-info/version">1.0.0</xs:appinfo>
      <xs:appinfo source="http://www.imvertor.org/model-info/phase">1</xs:appinfo>
      <xs:appinfo source="http://www.imvertor.org/model-info/uri">http://www.broservices.nl/xsd/wdm</xs:appinfo>
      <xs:appinfo source="http://www.imvertor.org/model-info/generated">2021-04-21T14:19:00Z</xs:appinfo>
      <xs:appinfo source="http://www.imvertor.org/xml-schema-info/file-location">wdm/unknown/v20210224/Wdm.xsd</xs:appinfo>
      <xs:appinfo source="http://www.imvertor.org/xml-schema-info/generated">April 21, 2021 at 14:19:00</xs:appinfo>
      <xs:appinfo source="http://www.imvertor.org/xml-schema-info/generator">1.64.0</xs:appinfo>
      <xs:documentation source="http://www.imvertor.org/schema-info/conversion">
        This schema is based on an UML specification, which is transformed by the Imvertor software. Imvertor modules are in the public domain, see http://www.imvertor.org.
    </xs:documentation>
      <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Name: wdm</xs:documentation>
   </xs:annotation>
   <xs:annotation>
      <xs:appinfo source="http://schemas.opengis.net/gmlsfProfile/2.0/gmlsfLevels.xsd">
         <gmlsf:ComplianceLevel>0</gmlsf:ComplianceLevel>
      </xs:appinfo>
   </xs:annotation>
   <xs:import namespace="http://www.broservices.nl/xsd/brocommon/3.0"
      schemaLocation="https://schema.broservices.nl/xsd/brocommon/3.0/brocommon.xsd"/>
   <xs:import namespace="http://www.opengis.net/gml/3.2"
      schemaLocation="https://schema.broservices.nl/profile/gml/1.0/gml-profile.xsd"/>
   <xs:element name="WaterTableDepthModel" type="wdm:WaterTableDepthModelType"
      substitutionGroup="bro:RegistrationObject">
      <xs:annotation>
         <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Het model grondwaterspiegeldiepte (water table depth model, WDM) is de landsdekkende verzameling berekende en in grids gediscretiseerde statistieken bestaande uit de gemiddeld hoogste grondwaterstand (GHG), de gemiddeld laagste grondwaterstand (GLG), de gemiddelde voorjaars grondwaterstand (GVG) en de grondwatertrap (Gt) die de grondwaterspiegeldiepte in Nederland karakteriseren.
Explanation: GHG, GLG en GVG samen worden ook wel aangeduid als GxG.</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="WaterTableDepthModelType">
      <xs:complexContent>
         <xs:extension base="bro:RegistrationObjectType">
            <xs:sequence>
               <xs:element minOccurs="1" maxOccurs="unbounded" name="relatedObservation"
                  nillable="false" type="wdm:WaterDepthModelObservationPropertyType">
                  <xs:annotation>
                     <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Het Model grondwaterspiegeldiepte bestaat uit 1 of meer Grondwaterspiegeldieptemetingen.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="1" maxOccurs="1" name="relatedGrid" nillable="false"
                  type="wdm:WaterTableDepthModelGridPropertyType">
                  <xs:annotation>
                     <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Het Model grondwaterspiegeldiepte bestaat uit één Grondwaterspiegeldieptegrid.</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="WaterTableDepthModelPropertyType">
      <xs:sequence minOccurs="0">
         <xs:element ref="wdm:WaterTableDepthModel"/>
      </xs:sequence>
      <xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
   </xs:complexType>
   <xs:element name="WaterDepthModelObservation" type="wdm:WaterDepthModelObservationType"
      substitutionGroup="gml:AbstractFeature">
      <xs:annotation>
         <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Meting (gerichte opname) van de grondwaterspiegeldiepte op een bepaalde locatie en tijdstip.</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="WaterDepthModelObservationType">
      <xs:complexContent>
         <xs:extension base="gml:AbstractFeatureType">
            <xs:sequence>
               <xs:element name="depth" minOccurs="1" maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Gemeten diepte van de grondwaterspiegel ten opzichte van het maaiveld.</xs:documentation>
                  </xs:annotation>
                  <xs:complexType>
                     <xs:simpleContent>
                        <xs:restriction base="gml:MeasureType">
                           <xs:attribute name="uom" type="gml:UomIdentifier" use="required"
                              fixed="centimeters"/>
                        </xs:restriction>
                     </xs:simpleContent>
                  </xs:complexType>
               </xs:element>
               <xs:element name="typeObservation" minOccurs="1" maxOccurs="1"
                  type="wdm:TypeObservationType">
                  <xs:annotation>
                     <xs:appinfo>
                        <CodeListName>TypeObservation</CodeListName>
                        <CodeListURI>urn:bro:wdm:TypeObservation</CodeListURI>
                     </xs:appinfo>
                     <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Aanduiding voor het type waarneming.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="date" type="xs:date" minOccurs="1" maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Datum van de meting.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="note" minOccurs="1" maxOccurs="1" type="wdm:NoteType">
                  <xs:annotation>
                     <xs:appinfo>
                        <CodeListName>Note</CodeListName>
                        <CodeListURI>urn:bro:wdm:Note</CodeListURI>
                     </xs:appinfo>
                     <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Kanttekening bij de meting.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="geometry" type="gml:PointPropertyType" minOccurs="1" maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Puntlocatie van de meting.</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="WaterDepthModelObservationPropertyType">
      <xs:sequence minOccurs="0">
         <xs:element ref="wdm:WaterDepthModelObservation"/>
      </xs:sequence>
      <xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
   </xs:complexType>
   <xs:element name="WaterTableDepthModelGrid" type="wdm:WaterTableDepthModelGridType">
      <xs:annotation>
         <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Een grid (coverage) met gegevens over de hoogste, laagste en voorjaars grondwaterspiegeldiepten, de classificatie van de grondwatertrappen , de realisaties op basis waarvan deze statistieken tot stand zijn gekomen, en de toelichting op de totstandkoming van (de onderdelen van) het grid.</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="WaterTableDepthModelGridType">
      <xs:simpleContent>
         <xs:extension base="xs:base64Binary"/>
      </xs:simpleContent>
   </xs:complexType>
   <xs:complexType name="WaterTableDepthModelGridPropertyType">
      <xs:sequence minOccurs="0">
         <xs:element ref="wdm:WaterTableDepthModelGrid"/>
      </xs:sequence>
      <xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
   </xs:complexType>
   <xs:element name="CV_Coverage" type="wdm:CV_CoverageType" substitutionGroup="gml:AbstractFeature">
      <xs:annotation>
         <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: CV_Coverage uit ISO19123.</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="CV_CoverageType">
      <xs:complexContent>
         <xs:extension base="gml:AbstractFeatureType"/>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="CV_CoveragePropertyType">
      <xs:sequence minOccurs="0">
         <xs:element ref="wdm:CV_Coverage"/>
      </xs:sequence>
      <xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
   </xs:complexType>
   <xs:simpleType name="CV_RangeSetType">
      <xs:annotation>
         <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: CV_RangeSet uit ISO19123.</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:string"/>
   </xs:simpleType>
   <xs:simpleType name="CV_DomainSetType">
      <xs:annotation>
         <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: CV_Domainset uit ISO19123.</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:string"/>
   </xs:simpleType>
   <xs:simpleType name="CV_GridCellType">
      <xs:annotation>
         <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: CV_GridCell uit ISO19123.</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:string"/>
   </xs:simpleType>
   <xs:complexType name="TypeObservationType">
      <xs:simpleContent>
         <xs:restriction base="gml:CodeWithAuthorityType">
            <xs:attribute name="codeSpace" type="xs:anyURI" use="required"
               fixed="urn:bro:wdm:TypeObservation"/>
         </xs:restriction>
      </xs:simpleContent>
   </xs:complexType>
   <xs:complexType name="NoteType">
      <xs:simpleContent>
         <xs:restriction base="gml:CodeWithAuthorityType">
            <xs:attribute name="codeSpace" type="xs:anyURI" use="required" fixed="urn:bro:wdm:Note"
            />
         </xs:restriction>
      </xs:simpleContent>
   </xs:complexType>
</xs:schema>
